/*HTML ELEMENT*/

hr {
    width: 80%;
    margin: 30px auto;
}

p {
    font-family: 'Times New Roman', Times, serif
}

h4 {
    font-style: italic;
    text-transform: capitalize;
}


/*ICONS*/
i {
    margin-right: 15px;
    color: #837008;
}

i:hover{
    color: white;
}





/*TEXTFIELD*/

.MuiTextField-root>label {

    color: #837008;
}

.MuiTextField-root>.MuiInputBase-root {
    color: #837008;
}

/*BUTTON*/

#button {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid rgb(131, 112, 8);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #837008;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

#button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(131, 112, 8);
    z-index: -1;
}

#button:hover,
#button:focus {
    color: white;
}

#button:hover:before,
#button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

#button:active {
    transform: scale(0.9);
}

/*ALCIMEK*/

.alcim {
    background-image: url("../../img/template.jpg");
    background-position-y: -100px;
    background-position-x: -100px;
    height: 160px;
    color: white;
    text-align: center;
    padding-top: 4rem;
    text-transform: uppercase;
    margin-bottom: 30px;


}


/*APPBAR*/

#appbar-element,
#appbar-button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0px 40px;
}


#appbar-button {
    color: #eeeeee;
    cursor: pointer;
    padding: 5px 15px;
    animation: glowing 5000ms infinite;
    background-color: rgba(0, 0, 0, 0.31);

}

@keyframes glowing {
    0% {

        box-shadow: 0 0 0px white;
    }

    50% {

        box-shadow: 0 0 20px white;
    }

    100% {

        box-shadow: 0 0 0px white;
    }
}



/*
FOOTER
*/


footer {

    right: 0;
    left: 0;
    bottom: 0;
    position: relative;
    padding: 1rem;
    background-color: rgb(209, 190, 137);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 13px;
    margin-top: 60px;
    opacity: 0.6;


}

.footer>hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


.footer-title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    font-style: italic;
    font-weight: bold;

}

.footer-elerhetoseg>li {
    list-style-type: none;
    padding: 6px 0px;
    text-align: left;

}






.information {
    font-size: 17px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.information:hover {
    color: #837008;

}

/*ADATVEDELEM*/


.adatvedelem {
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    text-align: justify;
}

.ceginfo {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}



/*FEJLEC*/
.fejlec {
    padding-top: 1rem;
    text-align: center;
    font-size: 13px;
    background-color: rgb(209, 190, 137);
    opacity: 0.6;

}

.fejlec-icons>i {
    margin: 0px 10px;
    font-size: 20px;
}

.logo {
    background-color: black;
    text-align: center;
}

#logo {
    height: 200px;

}

/*ROLUNK*/

.rolunk {
    background-image: url("../../img/panorama.jpg");
    padding: 100px;
    color: white;
    font-size: 20px;

}



/* VENDEGEINK MONDTAK*/

.vendegeinkMondtak {
    text-align: justify;
    border: solid 3px rgb(182, 155, 6);
    margin-top: 30px;

}

.columnVendeg {
    margin: 50px 20px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.columnVendeg>h3 {
    text-transform: uppercase;
    padding-bottom: 50px;

}

/*VENDEG VELEMENY*/

.tartalom {
    font-size: 20px;

}

.szemely {
    font-style: italic;
    font-weight: bold;

}


/*KAPCSOLAT*/

.contact {
    display: flex;
    align-items: center;
    justify-content: center
}

.contact-element {
    list-style: none;
}




/*ERROR*/

.err {
    text-align: center;
    color: red;
    border: 9px double red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(172, 64, 64, 0.284);
}



/* SIGHT */

.latnivalo {
    padding: 0px 50px;
}

.plakat {
    text-align: center;
    justify-content: center;
}

.sightCarousel a {
    color: rgb(163, 139, 3);
}

.sightCarousel {
    text-align: justify;
}

.sightCarousel img {
    border: solid 3px rgb(131, 112, 8);
    border-radius: 5px;

}


/*SZOBAK*/

.MuiTypography-subtitle2 {
    text-align: justify;
}


.MuiTypography-root {
    padding-bottom: 10px;
}

.MuiTypography-h6 {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;

}

#roomCard {
    background-color: #ffe4c491;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.MuiCardActions-root>Button {
    margin-left: auto;
    margin-right: auto;

}

.szobaFooldalon {
    background-image: url("../../img/hatterjpg.jpg");
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center
}


/*GALÉRIA*/

.galeria {
    margin: 30px 50px;
}

.imgcontainer {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100px;
    margin-top: 30px
}

.galeria-elem>img {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
}




/*GYIK  / ACCORDION*/
.accordion-button {
    background-color: rgb(131, 112, 8) !important;
    color: white !important;
    border: 5px solid rgb(240, 237, 223) !important;
    font-size: 20px !important;


}

.accordion-button:focus {
    box-shadow: none !important;
}



/*ASZF*/


.aszf {
    text-align: justify;
    margin: 50px;
}

.aszf h5 {
    font-weight: bold;
    border: 1px solid #837008;
    padding: 5px;
}


/*REGISZTRACIO  --  BEJELENTKEZES*/

.loginLink_singupLink {
    margin-top: 20px;
    text-align: right;
}