#alcim {
    background-image: url("../../img/template.jpg");
    background-position-y: -100px;
    background-position-x: -100px;
    height: 160px;
    color: white;
    text-align: center;
    padding-top: 4rem;
    text-transform: uppercase;
    margin-bottom: 30px;


}

p {
    font-family: 'Times New Roman', Times, serif
}


/*APPBAR*/

#appbar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin: 0px 20px;


}

#appbar:hover {
    transform: scale(1.4);



}


/*
FOOTER
*/


#footer {

    right: 0;
    left: 0;
    bottom: 0;
    position: relative;
    padding: 1rem;
    background-color: rgb(209, 190, 137);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    opacity: 0.6;


}

.footer > hr{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}



.footer-title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    font-style: italic;
    font-weight: bold;
    
}

.contact>li {
    list-style-type: none;
    padding: 6px 0px;
    text-align: left;

}

.contact>li>i {
    padding-right: 10px;

}

#information {
    font-size: 17px;
    text-align: center;
    color: black;
    text-decoration: none;
}

/*DATAMANAGEMENT*/


#dataManagementContainer {
    font-family: 'Times New Roman', Times, serif;
    margin: 50px auto;
    text-align: justify;
}

#dataManagementContainer>h6 {
    text-align: center;
    font-weight: bold;

}

#dataHr {
    margin: 30px auto;

}



/*TOP*/
#top {
    padding-top: 1rem;
    height: auto;
    text-align: center;
    font-size: 13px;
    background-color: rgb(209, 190, 137);
    opacity: 0.6;
}

#topIcon>i {
    margin: 0px 10px;
    font-size: 20px;
}

#logoHatter {
    background-color: black;
    text-align: center;
}

#logo {
    height: 200px;

}

#about {
    background-image: url("../../img/panorama.jpg");
    padding: 100px;
    color: white;
    font-size: 20px;


}

hr {
    width: 80%;
}


/* OPINIONS*/

#opinionsContainer {
    text-align: justify;
    border: solid 3px rgb(182, 155, 6);
    margin-top: 30px;

}

#opinionsColumn {
    margin: 50px 20px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#opinionsColumn>h3 {
    text-transform: uppercase;
    padding-bottom: 50px;

}

/*OPINION*/

#opinionContact {
    font-size: 20px;

}

#opinionName {
    font-style: italic;
    font-weight: bold;

}


/*CONTACT*/


#contactColunm {
    flex-direction: column;



}

#googleMap {
    display: flex;
    align-items: center;
    justify-content: center
}



/*ERROR*/

.err {
    text-align: center;
    color: red;
    border: 9px double red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(172, 64, 64, 0.284);
}



/* SIGHT */

#sightRow {
    padding: 0px 50px;
}

#palakatDiv {
    text-align: center;
    justify-content: center;
}

#slider {
    max-width: 250px;
}

#sightCarousel a {
    color: rgb(163, 139, 3);
}

#sightCarousel {
    text-align: justify;
}

#sightCarousel img {
    border: solid 3px rgb(131, 112, 8);
    border-radius: 5px;

}


/*ROOMS*/

.MuiTypography-subtitle2 {
    text-align: justify;
}


.MuiTypography-root {
    padding-bottom: 10px;
}

.MuiTypography-h6 {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;

}


/*gallery*/



.imgcontainer {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100px;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    line-height: 0;


}







#szobaFooldalon {
    background-image: url("../../img/hatterjpg.jpg");
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center
}

/*ACCORDION*/
.accordion-button {
    background-color: rgb(131, 112, 8) !important;
    color: white !important;
    border: 5px solid rgb(240, 237, 223) !important;


}



.accordion-button:focus {
    box-shadow: none !important;
}



.appbar {

    background-image: url("../../img/gold1.jpg");
    border: solid 3px rgb(131, 112, 8);

}



.bemutatkozas {
    text-align: justify;
}


/*BUTTON*/

#button {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #030200;
    border: solid 2px rgb(161, 119, 4);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#button:before {
    content: '';
    background: linear-gradient(45deg, #5e3302, #ff7300, #807d03, #803b02, #d4840a, #a35d01, #814603, #dde004, #914202);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#button:active {
    color: #000
}

#button:active:after {
    background: transparent;
}

#button:hover:before {
    opacity: 1;
}

#button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*rgb(131, 112, 8)*/
#aszfContainer {
    text-align: justify;
}

#aszfContainer h5 {
    margin-top: 40px;
    margin-bottom: 30px;
}

#aszf_cim {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#login button {
    margin-left: 130px;
}

#signuplink {
    margin-top: 20px;


}

#aszf,
#gyik {
    text-decoration: none;
}