@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

/*HTML ELEMENT*/

hr {
    width: 80%;
    margin: 30px auto;
}

p {
    font-family: 'Times New Roman', Times, serif
}

h4 {
    font-style: italic;
    text-transform: capitalize;
}

.link :hover {
    color: white;
}




/*ICONS*/
i {
    margin-right: 15px;
    color: white;
}

i:hover {
    color: white;
}





/*TEXTFIELD*/

.MuiTextField-root>label {

    color: #434A42;
}

.MuiTextField-root>.MuiInputBase-root {
    color: #434A42;
}

/*cimek*/

.gyik>h4,
.footer-title,
.velemenyek,
.card-title,
.elerhetosegFelirat,
.alcim,
.feluletCim,
.kezelofeluletFelirat,
.modositas {
    font-family: 'Rozha One', serif;
}

/*BUTTON*/

#button {
    font-size: 12px;
    letter-spacing: 4px;
    font-family: 'Rozha One';
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px double #434A42;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #434A42;
    transition: 0.3s ease all;
    z-index: 1;
}

#button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #434A42;
    z-index: -1;
}

#button:hover,
#button:focus {
    color: white;
}

#button:hover:before,
#button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

#button:active {
    transform: scale(0.9);
}

/*ALCIMEK*/

.alcim {
    background-image: url("../../img/template.jpg");
    background-position-y: -100px;
    background-position-x: -100px;
    height: 160px;
    color: white;
    text-align: center;
    padding-top: 4rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 5px;


}


/*APPBAR*/

#appbar-element,
#appbar-button {
    font-family: 'Rozha One';
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 17px;
    margin: 0 15px
}


#appbar-button {
    color: #eeeeee;
    cursor: pointer;
    padding: 5px 15px;
    animation: glowing 5000ms infinite;
    background-color: rgba(0, 0, 0, 0.31);

}

@keyframes glowing {
    0% {

        box-shadow: 0 0 0px white;
    }

    50% {

        box-shadow: 0 0 20px white;
    }

    100% {

        box-shadow: 0 0 0px white;
    }
}



/*
FOOTER
*/


footer {

    right: 0;
    left: 0;
    padding: 1rem;
    background-color: #918b76;
    text-align: center;
    font-size: 13px;
    margin-top: 60px;
    opacity: 0.8;
    position: absolute;

}

.footer>hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


.footer-title {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;


}

.footer-elerhetoseg>li {
    list-style-type: none;
    padding: 6px 0px;
    text-align: left;

}






.information {
    font-size: 17px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.information:hover {
    color: white;

}

/*ADATVEDELEM*/


.adatvedelem {
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    text-align: justify;
}

.ceginfo {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #434A42
}



/*FEJLEC*/
.fejlec {
    padding-top: 1rem;
    text-align: center;
    font-size: 13px;
    background-color: #918b76;
    opacity: 0.8;

}

.fejlec-icons>i {
    margin: 0px 10px;
    font-size: 20px;
}

.logo {
    background-color: #434A42;
    text-align: center;
}

#logo {
    height: 200px;

}

/*ROLUNK*/

.rolunk {
    background-image: url("../../img/panorama.jpg");
    padding: 100px;
    color: white;
    font-size: 20px;

}



/* VENDEGEINK MONDTAK*/

.vendegeinkMondtak {
    text-align: justify;
    border: 7px double #434A42;
    margin-top: 30px;

}

.columnVendeg {
    margin: 50px 20px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.columnVendeg>h3 {
    text-transform: capitalize;
    padding-bottom: 50px;

}

/*VENDEG VELEMENY*/

.tartalom {
    font-size: 20px;

}

.szemely {
    font-style: italic;
    font-weight: bold;

}


/*KAPCSOLAT*/

.contact {
    display: flex;
    align-items: center;
    justify-content: center
}

.contact-element {
    list-style: none;
}






/*ERROR*/

.error {
    text-align: center;
    margin: 50px auto;
    background-color: #F4F1DE;
    max-width: 900px;
    border: 7px double #434A42;
    border-radius: 10px;

}

.error>h1 {
    font-size: 200px;
    font-family: 'Rozha One', serif;
}

.error>h1>i {
    color: #434A42;
}

.error>p {
    font-family: 'Rozha One', serif;
    font-size: 25px;
}





/* SIGHT */

.latnivalo {
    padding: 0px 50px;
}

.plakat {
    text-align: center;
    justify-content: center;
}

.sightCarousel a {
    color: #434A42;
}

.sightCarousel {
    text-align: justify;
}

.sightCarousel img {
    border: 7px double #434A42;
    border-radius: 5px;

}


/*SZOBATÍPUSOK*/

.MuiTypography-subtitle2 {
    text-align: justify;
}


.MuiTypography-root {
    padding-bottom: 10px;
}

.MuiTypography-h6 {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;

}

#roomCard {
    background-color: #F4F1DE;
    border-radius: 10px;
    border: 7px double #434A42;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.MuiCardActions-root>Button {
    margin-left: auto;
    margin-right: auto;

}

.fizetendo {
    color: red;
}

.szobaFooldalon {
    background-image: url("../../img/hatterjpg.jpg");
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center
}

/* SZOBÁK */

.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 15px;
}

.card {
    padding: 5px
}


/*GALÉRIA*/

.galeria {
    margin: 30px 50px;
}

.imgcontainer {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100px;
    margin-top: 30px
}

.galeria-elem>img {
    border-radius: 10px;
}




/*GYIK  / ACCORDION*/


.accordion-button {
    background-color: #434A42 !important;
    opacity: 0.9;
    color: white !important;
    border: 5px solid rgb(240, 237, 223) !important;
    font-size: 20px !important;


}

.accordion-button:focus {
    box-shadow: none !important;
}



/*ASZF*/


.aszf {
    text-align: justify;
    margin: 50px;
}

.aszf h5 {
    font-weight: bold;
    border: 7px double #434A42;
    padding: 15px;
    font-family: 'Rozha One', serif;

}


/*REGISZTRACIO  --  BEJELENTKEZES*/

.loginLink_singupLink {
    margin-top: 20px;
    text-align: right;

}

/*FELULET*/
.felulet {
    background-color: #F4F1DE;
    text-align: center;
    border: 7px double #434A42;
    border-radius: 11px;
    height: 400px;
    padding-top: 80px;
    margin-bottom: 20px;
}

#feluletIcon {
    font-size: 60px;
    color: #434A42;
}

/*TABLAZAT*/



table>thead {
    font-size: 20px;
    font-family: 'Rozha One', serif;
    color: #434A42;

}

td {
    font-size: 17px;
    text-align: center;
}

/*EDIT USER*/

.editUser {
    text-align: center;
}

.editForm {
    padding: 50px;
    max-width: 700px;
    background-color: #F4F1DE;
    border: 7px double #434A42;
    border-radius: 10px;
    margin: 50px auto;
    height: auto;
    display: block;

}

.editForm > *{
    margin: 10px;
}


.editForm>input {
    width: 100%;
    display: inline-block;
    border: 1px double  #434A42;
    border-radius: 4px;
}

.editForm > label {
    font-family: 'Rozha One', serif;
}